<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      @media (min-width: 768px) {
        .gradient-form {
          height: 100vh !important;
        }
      }
      @media (min-width: 769px) {
        .gradient-custom-2 {
          border-top-right-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
        }
      }
      body {
        margin: 0;
        padding: 0;
        background: url(https://i.ibb.co/VQmtgjh/6845078.png) no-repeat;
        height: 100vh;
        font-family: sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
      }

      #particles-js {
        height: 100%;
      }
      .loginBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        min-height: 200px;
        background: #000000;
        border-radius: 10px;
        padding: 40px;
        box-sizing: border-box;
      }
      .user {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
      }
      h3 {
        margin: 0;
        padding: 0 0 20px;
        color: #59238f;
        text-align: center;
      }
      .loginBox input {
        width: 100%;
        margin-bottom: 20px;
      }
      .loginBox input[type="text"],
      .loginBox input[type="password"] {
        border: none;
        border-bottom: 2px solid #262626;
        outline: none;
        height: 40px;
        color: #fff;
        background: transparent;
        font-size: 16px;
        padding-left: 20px;
        box-sizing: border-box;
      }
      .loginBox input[type="text"]:hover,
      .loginBox input[type="password"]:hover {
        color: #42f3fa;
        border: 1px solid #42f3fa;
        box-shadow: 0 0 5px rgba(0, 255, 0, 0.3), 0 0 10px rgba(0, 255, 0, 0.2),
          0 0 15px rgba(0, 255, 0, 0.1), 0 2px 0 black;
      }
      .loginBox input[type="text"]:focus,
      .loginBox input[type="password"]:focus {
        border-bottom: 2px solid #42f3fa;
      }
      .inputBox {
        position: relative;
      }
      .inputBox span {
        position: absolute;
        top: 10px;
        color: #262626;
      }
      .loginBox input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        font-size: 16px;
        background: #59238f;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
      }
      .loginBox a {
        color: #262626;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        display: block;
      }
      a:hover {
        color: #00ffff;
      }
      p {
        color: #0000ff;
      }
    </style>
  </head>
  <body>
    <!-- <form action="/login" method="post">
      <label for=""> mobile: </label>
      <input type="text" name="mobileno" id="mobileno" />
      <label for=""> Password: </label>
      <input type="password" name="password" id="password" />
      <input type="submit" value="submit" />
    </form>
    <section class="h-100 gradient-form" style="background-color: #eee">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
                    <div class="text-center">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        style="width: 185px"
                        alt="logo"
                      />
                      <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                    </div>

                    <form action="/login" method="post">
                      <p>Please login to your account</p>

                      <div class="form-outline mb-4">
                        <input
                          type="email"
                          id="form2Example11"
                          class="form-control"
                          placeholder="Phone number or email address"
                        />
                        <label class="form-label" for="form2Example11"
                          >Username</label
                        >
                      </div>

                      <div class="form-outline mb-4">
                        <input
                          type="password"
                          id="form2Example22"
                          class="form-control"
                        />
                        <label class="form-label" for="form2Example22"
                          >Password</label
                        >
                      </div>

                      <div class="text-center pt-1 mb-5 pb-1">
                        <button
                          class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                          type="button"
                        >
                          Log in
                        </button>
                        <a class="text-muted" href="#!">Forgot password?</a>
                      </div>

                      <div
                        class="d-flex align-items-center justify-content-center pb-4"
                      >
                        <p class="mb-0 me-2">Don't have an account?</p>
                        <button type="button" class="btn btn-outline-danger">
                          <a href="/signup"> Create new</a>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div
                  class="col-lg-6 d-flex align-items-center gradient-custom-2"
                >
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">We are more than just a company</h4>
                    <p class="small mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <div class="loginBox">
      <img
        class="user"
        src="https://i.ibb.co/yVGxFPR/2.png"
        height="100px"
        width="100px"
      />
      <h3>Sign in here</h3>
      <%- include ("./partials/messages") %>
      <form action="/login" method="post">
        <div class="inputBox">
          <input
            id="customerMobileNumber"
            type="text"
            name="customerMobileNumber"
            placeholder="Mobile no"
          />

          <input
            id="pass"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <input type="submit" name="" value="Login" />
      </form>
      <div class="text-center">
        <p style="color: #ffea00">
          Create new Account?
          <a href="/register" style="color: #00e5ff">Sign-Up</a>
        </p>
      </div>
    </div>
  </body>
</html>
